@import '~bootstrap/scss/bootstrap';
$alt-color: #3282b8;
$body-bg-color: $gray-200;
$font-color: $light;

body {
  background-color: $body-bg-color;
  margin: 75px 175px;
  border: 9px solid rgba(1,10,90,0.6);
  border-radius: 20px;
}
fieldset {
  text-align: center;
}

.box {
  align-items: center;
  background-color: $secondary;
  border: 2px solid $white    ;
  color: $font-color;
  display: flex;
  height: 80px;
  justify-content: center;
}

#top {
  font-family: 'Frijole', cursive;
  font-size: 32px;
}

#gameBoard {
    font-family: 'Monoton', cursive;
  font-size:52px;
}

h2 {
  font-size: 24px;
}


#sign-out {
  justify-content: center;
  display: flex;
}

#stats {
  justify-content: center;
  display: flex;
}
#again {
  font-size: 24px;
}
#result {
  font-family: 'Faster One', cursive;
  font-size: 32px;
}
a {
  color:$light;
}
.alt-color {
  background-color: $alt-color;
}
.hide  {
  display: none;
}
img  {
  margin: 10px auto 20px;
  display: block;
  flex:auto;
}
